common_task_phrases.json
SnowboyDependencies/_snowboydetect.so
SnowboyDependencies/Ancilla.pmdl
SnowboyDependencies/snowboy-detect-swig.cc
SnowboyDependencies/snowboy-detect-swig.o
SnowboyDependencies/snowboydecoder.py
SnowboyDependencies/snowboydetect.py
SnowboyDependencies/Wumbo.pmdl
SnowboyDependencies/__pycache__/snowboydecoder.cpython-37.pyc
SnowboyDependencies/__pycache__/snowboydetect.cpython-37.pyc
SnowboyDependencies/resources/common.res
SnowboyDependencies/resources/ding.wav
SnowboyDependencies/resources/dong.wav
SnowboyDependencies/resources/snowboy-detect-swig.i
SnowboyDependencies/resources/snowboy.raw
SnowboyDependencies/resources/snowboy.wav
SnowboyDependencies/resources/alexa/alexa_02092017.umdl
SnowboyDependencies/resources/alexa/SnowboyAlexaDemo.apk
SnowboyDependencies/resources/alexa/alexa-avs-sample-app/alexa.umdl
SnowboyDependencies/resources/alexa/alexa-avs-sample-app/avs-kittai.patch
SnowboyDependencies/resources/models/computer.umdl
SnowboyDependencies/resources/models/hey_extreme.umdl
SnowboyDependencies/resources/models/jarvis.umdl
SnowboyDependencies/resources/models/neoya.umdl
SnowboyDependencies/resources/models/smart_mirror.umdl
SnowboyDependencies/resources/models/snowboy.umdl
SnowboyDependencies/resources/models/subex.umdl
SnowboyDependencies/resources/models/view_glass.umdl
__pycache__/ancilla.cpython-37.pyc
__pycache__/Interpreter.cpython-37.pyc
__pycache__/interpreter.cpython-37.pyc
__pycache__/snowboydecoder.cpython-37.pyc
__pycache__/snowboydetect.cpython-37.pyc
__pycache__/task_engine.cpython-37.pyc
machineLearning/intents.json
machineLearning/model.h5
tests/BTTest.py
tests/nltkTest.py
tests/README.txt
tests/snowboyTest.py
tests/sttTest.py
tests/ttsTest.py
tests/machineLearningIntentsTest/intents.json
tests/machineLearningIntentsTest/machineLearningIntentsTest.py
tests/machineLearningIntentsTest/tempModel.h5
